<!-- <div class="cetegory-card card">
    <div class="card-body">
        asdasd
    </div>
</div> -->

<div class="card space-page">
    <div class="card-body">
        <nz-breadcrumb [nzSeparator]="iconTemplate">
            <nz-breadcrumb-item>Registration</nz-breadcrumb-item>
            <nz-breadcrumb-item>
              <a>Create 2156116</a>
            </nz-breadcrumb-item>
          </nz-breadcrumb>
          <ng-template #iconTemplate><span nz-icon nzType="right"></span></ng-template>
        
          <div class="dashboard-card card">
            <div class="card-body">
                asdasd
            </div>
        </div>
    </div>
</div>