.trigger {
    font-size: 22px;
    padding: auto;
    cursor: pointer;
    transition: color 0.3s;
    color: #7731C1;
}

.trigger:hover {
    color: #7731C1;
}

.logo-toggle {
    margin: 20px;
}

.scb-font {
    font-size: 28px;
    font-weight: 500;
}

.account-font {
    font-size: 18px;
    font-weight: 200;
}

.icon {
    margin-right: 8px;
}

nz-header {
    background: #fff;
    padding: 0;
    border-left: 2px solid #EFE7F7;
    border-bottom: 2px solid #EFE7F7;
}

nz-content {
    margin: 0 0px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

nz-footer {
    text-align: center;
}