<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo">
            <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu' : 'close'" tabindex="0"
                (click)="isCollapsed = !isCollapsed"></span>
        </div>
        <app-menu></app-menu>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="scb-logo">
                <div class="scb-font">
                    <span> Remote Investment service system</span>
                </div>
            </div>
        </nz-header>
        <hr />
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer><app-footer></app-footer></nz-footer>
    </nz-layout>
</nz-layout>