.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.scb-logo {
    min-height: 25px;
    background-image: url("../assets/icons/scb-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2%;
}

.scb-font {
    font-family: DB Heavent;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    margin-left: 28px;
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 0 0px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

nz-footer {
    text-align: center;
}